{% extends 'main.html' %}
{% block content %}


    <div class="slider-wrap">
      <section class="home-slider owl-carousel">
        <div class="slider-item" style="background-image: url('static/img/hero_1.jpg');">
          <div class="container">
            <div class="row slider-text align-items-center justify-content-center">
              <div class="col-md-8 text-center col-sm-12 ">
                <h1 data-aos="fade-up">Насладитесь едой у нас</h1>
                <p class="mb-5" data-aos="fade-up" data-aos-delay="100">Приятная музыка в зале и отзывчивый персонал</p>
              </div>
            </div>
          </div>
        </div>

        <div class="slider-item" style="background-image: url('static/img/hero_2.jpg');">
          <div class="container">
            <div class="row slider-text align-items-center justify-content-center">
              <div class="col-md-8 text-center col-sm-12 ">
                <h1 data-aos="fade-up">Вкусные блюда</h1>
                <p class="mb-5" data-aos="fade-up" data-aos-delay="100">Лучшие рецепты из лучших ингридиентов</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>


<section class="section bg-light py-5  bottom-slant-gray">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-left service-block" data-aos="fade-up" data-aos-delay="">
            <span class="wrap-icon"><span class="flaticon-dinner d-block mb-4"></span></span>
            <h3 class="mb-2 text-primary">Наслаждайтесь Едой</h3>
          </div>
          <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-left service-block" data-aos="fade-up" data-aos-delay="100">
            <span class="wrap-icon"><span class="flaticon-fish d-block mb-4"></span></span>
            <h3 class="mb-2 text-primary">Свежие Морепродукты</h3>
          </div>
          <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-left service-block" data-aos="fade-up" data-aos-delay="200">
            <span class="wrap-icon"><span class="flaticon-hot-coffee-rounded-cup-on-a-plate-from-side-view d-block mb-4"></span></span>
            <h3 class="mb-2 text-primary">Горячие напитки</h3>
          </div>
          <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-left service-block" data-aos="fade-up" data-aos-delay="300">
            <span class="wrap-icon"><span class="flaticon-meat d-block mb-4"></span></span>
            <h3 class="mb-2 text-primary">Мясные стейки</h3>
          </div>
        </div>
      </div>
    </section>


    <section class="section ">
      <div class="clearfix mb-5 pb-5">
        <div class="container-fluid mb-5">
          <div class="row" data-aos="fade">
            <div class="col-md-12 text-center heading-wrap">
              <h2>Интересные блюда</h2>
            </div>
          </div>
        </div>
        <div class="owl-carousel centernonloop">
          <a class="item-dishes" data-aos="fade-right" data-aos-delay="100">
            <div class="text">
              <p class="dishes-price">800 руб.</p>
              <h2 class="dishes-heading">Органический салат из помидоров, сыра горгонзола</h2>
            </div>
            <img src="static/img/dishes_1.jpg" alt="" class="img-fluid">
          </a>
          <a class="item-dishes" data-aos="fade-right" data-aos-delay="200">
            <div class="text">
              <p class="dishes-price">700 руб.</p>
              <h2 class="dishes-heading">Запеченные брокколи</h2>
            </div>
            <img src="static/img/dishes_2.jpg" alt="" class="img-fluid">
          </a>
          <a class="item-dishes" data-aos="fade-right" data-aos-delay="300">
            <div class="text">
              <p class="dishes-price">600 руб.</p>
              <h2 class="dishes-heading">Яичница с море продуктами и грибами</h2>
            </div>
            <img src="static/img/dishes_3.jpg" alt="" class="img-fluid">
          </a>
          <a class="item-dishes" data-aos="fade-right" data-aos-delay="400">
            <div class="text">
              <p class="dishes-price">600 руб.</p>
              <h2 class="dishes-heading">Овощной салат с пикантным соусом</h2>
            </div>
            <img src="static/img/dishes_4.jpg" alt="" class="img-fluid">
          </a>
        </div>
      </div>
    </section>


    <section class="section bg-light  top-slant-white bottom-slant-gray">

      <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
          <div class="row" data-aos="fade">
            <div class="col-md-12 text-center heading-wrap">
              <h2>Меню</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-6">

            <div class="sched d-block d-lg-flex">
              <div class="bg-image order-2" style="background-image: url('static/img/dishes_5.jpg');" data-aos="fade"></div>
              <div class="text order-1">
                <p> </p>
                <h3>Мясные фрикадельки</h3>
                <p> </p>
                <p> </p>
                <p class="text-primary h3">1000 руб.</p>
              </div>
            </div>

            <div class="sched d-block d-lg-flex">
              <div class="bg-image" style="background-image: url('static/img/dishes_6.jpg');" data-aos="fade"></div>
              <div class="text">
                <p> </p>
                <h3>Итальянские спагетти с томатным соусом на сковороде</h3>
                <p> </p>
                <p class="text-primary h3">900 руб.</p>
              </div>
            </div>
          </div>

          <div class="col-md-6">

            <div class="sched d-block d-lg-flex">
              <div class="bg-image order-2" style="background-image: url('static/img/dishes_9.jpg');" data-aos="fade"></div>
              <div class="text order-1">
                <p> </p>
                <h3>Блины с малиной</h3>
                <p> </p>
                <p> </p>
                <p class="text-primary h3">1700 руб.</p>
              </div>
            </div>

            <div class="sched d-block d-lg-flex">
              <div class="bg-image" style="background-image: url('static/img/dishes_8.jpg');" data-aos="fade"></div>
              <div class="text">
                <p> </p>
                <h3>Салат из тостов, яиц, бекона, помидоров и микрозелени</h3>
                <p> </p>
                <p class="text-primary h3">600 руб.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-md-6">

            <div class="sched d-block d-lg-flex">
              <div class="bg-image order-2" style="background-image: url('static/img/dishes_7.jpg');" data-aos="fade"></div>
              <div class="text order-1">
                <p> </p>
                <h3>Пикантный стейк из свинины</h3>
                <p> </p>
                <p> </p>
                <p class="text-primary h3">500 руб.</p>
              </div>
            </div>

          </div>

          <div class="col-md-6">

            <div class="sched d-block d-lg-flex">
              <div class="bg-image order-2" style="background-image: url('static/img/dishes_10.jpg');" data-aos="fade"></div>
              <div class="text order-1">
                <p> </p>
                <h3>Спагетти с песто и креветками</h3>
                <p> </p>
                <p> </p>
                <p class="text-primary h3">1300 руб.</p>
              </div>
            </div>

          </div>
        </div>


      </div>
    </section>


{% endblock %}